<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753261675970-ddaipkqbidqkf6c1gp5klu6r2drb1igl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753261675970-ddaipkqbidqkf6c1gp5klu6r2drb1igl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>753261675970-nlmroat7dbk8b2ne9k51klpraan9ttmd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCgZEhbaF-KLBXW4J00GXg4Xmav8fS_EfU</string>
	<key>GCM_SENDER_ID</key>
	<string>753261675970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wootzapp.browser</string>
	<key>PROJECT_ID</key>
	<string>browser-252c6</string>
	<key>STORAGE_BUCKET</key>
	<string>browser-252c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753261675970:ios:00cd66a3716e9be4c4825b</string>
</dict>
</plist>