/* Copyright 2024 The WootzApp Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

 :root {
    --color-selected-tab: black;
    --color-background: #fff;
    --color-highlight: #fffccf;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-selected-tab: white;
      --color-background: #121212;
      --color-highlight:  #03DCB0;
    }
  }

  * {
    box-sizing: border-box;
  }

  body {
    overflow: hidden;  /* Prevents scroll bar flickering on resize. */
  }

  ul {
    padding-left: 2em;
  }

  /* This class should be given to top-level content boxes (like the view's main
   * DIV). It gives them a consistent padding, and makes them scrollable. */
  .content-box {
    overflow: auto;
    padding: 20px 10px 10px 20px;
  }

  .deindent-header,
  .content-box h1,
  .content-box h2,
  .content-box h3,
  .content-box h4,
  .content-box h5,
  .content-box h6 {
    margin-left: -10px;
  }





  input + label {
    margin-inline-start: 10px;
  }

  ul {
    margin-top:0;
  }

  .output-box {
    margin-top: 1em;
    margin-left: 2em;
  }

  .content-box > *:first-child {
    margin-top:0
  }